@use '../variables';

.\$hidden.\$hidden {
  display: none;
}

.\$block.\$block {
  display: block;
}

.\$inline-block.\$inline-block {
  display: inline-block;
}

@each $size, $query in variables.$mediaquery {
  @media #{$query} {
    .\$hidden\@#{$size}.\$hidden\@#{$size} {
      display: none;
    }
    .\$block\@#{$size}.\$block\@#{$size} {
      display: block;
    }
  }
}
