@use '../variables';

.\$m.\$m {
  margin: 1rem;
}

.\$mt.\$mt {
  margin-top: 1rem;
}

.\$mr.\$mr {
  margin-right: 1rem;
}

.\$mb.\$mb {
  margin-bottom: 1rem;
}

.\$ml.\$ml {
  margin-left: 1rem;
}

.\$mx.\$mx {
  margin: {
    left: 1rem;
    right: 1rem;
  }
}

.\$mx-auto.\$mx-auto {
  margin: {
    left: auto;
    right: auto;
  }
}

.\$my.\$my {
  margin: {
    top: 1rem;
    bottom: 1rem;
  }
}

@each $a, $b in variables.$spacing {
  .\$m-#{$a}.\$m-#{$a} {
    margin: $b;
  }

  .\$mt-#{$a}.\$mt-#{$a} {
    margin-top: $b;
  }

  .\$mr-#{$a}.\$mr-#{$a} {
    margin-right: $b;
  }

  .\$mb-#{$a}.\$mb-#{$a} {
    margin-bottom: $b;
  }

  .\$ml-#{$a}.\$ml-#{$a} {
    margin-left: $b;
  }

  .\$mx-#{$a}.\$mx-#{$a} {
    margin: {
      left: $b;
      right: $b;
    }
  }

  .\$my-#{$a}.\$my-#{$a} {
    margin: {
      top: $b;
      bottom: $b;
    }
  }
}
