.\$pointer.\$pointer {
  cursor: pointer;
}

.\$float-left.\$float-left {
  float: left;
}

.\$float-right.\$float-right {
  float: right;
}

.\$w-full.\$w-full {
  width: 100%;
}

.\$w-fit-content.\$w-fit-content {
  width: fit-content;
}
