@use '../variables';

.\$p.\$p {
  padding: 1rem;
}

.\$pt.\$pt {
  padding-top: 1rem;
}

.\$pr.\$pr {
  padding-right: 1rem;
}

.\$pb.\$pb {
  padding-bottom: 1rem;
}

.\$pl.\$pl {
  padding-left: 1rem;
}

.\$px.\$px {
  padding: {
    left: 1rem;
    right: 1rem;
  }
}

.\$py.\$py {
  padding: {
    top: 1rem;
    bottom: 1rem;
  }
}

@each $a, $b in variables.$spacing {
  .\$p-#{$a}.\$p-#{$a} {
    padding: $b;
  }

  .\$pt-#{$a}.\$pt-#{$a} {
    padding-top: $b;
  }

  .\$pr-#{$a}.\$pr-#{$a} {
    padding-right: $b;
  }

  .\$pb-#{$a}.\$pb-#{$a} {
    padding-bottom: $b;
  }

  .\$pl-#{$a}.\$pl-#{$a} {
    padding-left: $b;
  }

  .\$px-#{$a}.\$px-#{$a} {
    padding: {
      left: $b;
      right: $b;
    }
  }

  .\$py-#{$a}.\$py-#{$a} {
    padding: {
      top: $b;
      bottom: $b;
    }
  }
}
