.\$relative.\$relative {
  position: relative;
}

.\$absolute.\$absolute {
  position: absolute;
}

.\$absolute-center.\$absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.\$fixed.\$fixed {
  position: fixed;
}

.\$sticky.\$sticky {
  position: sticky;
}
