.\$decoration-underline.\$decoration-underline {
  text-decoration: underline;
}

.\$decoration-double-underline\$decoration-double-underline {
  text-decoration: underline;
  text-decoration-style: double;
}

.\$decoration-none.\$decoration-none {
  text-decoration: none;
}

.\$text-center.\$text-center {
  text-align: center;
}

.\$text-left.\$text-left {
  text-align: left;
}

.\$text-right.\$text-right {
  text-align: right;
}

.\$overflow-ellipsis.\$overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
