.fontello-mail:before {
  content: '\2d';
}
.fontello-user:before {
  content: '\e800';
}
.fontello-phone:before {
  content: '\e801';
}
.fontello-globe:before {
  content: '\e802';
}
.fontello-minus:before {
  content: '\e803';
}
.fontello-plus:before {
  content: '\e804';
}
.fontello-wine:before {
  content: '\e805';
}
.fontello-eye:before {
  content: '\e806';
}
.fontello-down:before {
  content: '\e807';
}
.fontello-cancel-circled:before {
  content: '\e808';
}
.fontello-up-open:before {
  content: '\e809';
}
.fontello-left-open:before {
  content: '\e80a';
}
.fontello-right-open:before {
  content: '\e80b';
}
.fontello-ok:before {
  content: '\e80c';
}
.fontello-cancel:before {
  content: '\e80d';
}
.fontello-attention:before {
  content: '\e80e';
}
.fontello-attention-circled:before {
  content: '\e80f';
}
.fontello-basket:before {
  content: '\e810';
}
.fontello-print:before {
  content: '\e811';
}
.fontello-droplet:before {
  content: '\e812';
}
.fontello-heart:before {
  content: '\e813';
}
.fontello-heart-empty:before {
  content: '\e814';
}
.fontello-star:before {
  content: '\e815';
}
.fontello-star-empty:before {
  content: '\e816';
}
.fontello-star-half:before {
  content: '\e817';
}
.fontello-link:before {
  content: '\f08e';
}
.fontello-menu:before {
  content: '\f0c9';
}
.fontello-angle-left:before {
  content: '\f104';
}
.fontello-angle-right:before {
  content: '\f105';
}
.fontello-angle-up:before {
  content: '\f106';
}
.fontello-angle-down:before {
  content: '\f107';
}
.fontello-desktop:before {
  content: '\f108';
}
.fontello-reply:before {
  content: '\f112';
}
.fontello-smile:before {
  content: '\f118';
}
.fontello-star-half-alt:before {
  content: '\f123';
}
.fontello-calendar-empty:before {
  content: '\f133';
}
.fontello-angle-circled-left:before {
  content: '\f137';
}
.fontello-angle-circled-right:before {
  content: '\f138';
}
.fontello-ticket:before {
  content: '\f145';
}
.fontello-youtube-play:before {
  content: '\f16a';
}
.fontello-instagram:before {
  content: '\f16d';
}
.fontello-left:before {
  content: '\f177';
}
.fontello-right:before {
  content: '\f178';
}
.fontello-graduation-cap:before {
  content: '\f19d';
}
.fontello-fax:before {
  content: '\f1ac';
}
.fontello-file-pdf:before {
  content: '\f1c1';
}
.fontello-whatsapp:before {
  content: '\f232';
}
.fontello-bed:before {
  content: '\f236';
}
.fontello-tripadvisor:before {
  content: '\f262';
}
.fontello-calendar-x:before {
  content: '\f273';
}
.fontello-facebook:before {
  content: '\f308';
}
.fontello-linkedin:before {
  content: '\f30c';
}
