@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('https://cdn.klickrhein.de/fonts/open-sans/fonts/open-sans-latin-400.woff') format('woff'),
    url('https://cdn.klickrhein.de/fonts/open-sans/fonts/open-sans-latin-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    url('https://cdn.klickrhein.de/fonts/open-sans/fonts/open-sans-latin-400-italic.woff')
      format('woff'),
    url('https://cdn.klickrhein.de/fonts/open-sans/fonts/open-sans-latin-400-italic.woff2')
      format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url('https://cdn.klickrhein.de/fonts/open-sans/fonts/open-sans-latin-600.woff') format('woff'),
    url('https://cdn.klickrhein.de/fonts/open-sans/fonts/open-sans-latin-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src:
    url('https://cdn.klickrhein.de/fonts/open-sans/fonts/open-sans-latin-600-italic.woff')
      format('woff'),
    url('https://cdn.klickrhein.de/fonts/open-sans/fonts/open-sans-latin-600-italic.woff2')
      format('woff2');
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
}

:where(h1),
:where(.h1) {
  font-size: clamp(2rem, 1.5rem + 1.67vw, 2.5rem);
  line-height: clamp(2.5rem, 1.75rem + 2.5vw, 3.25rem);
  margin: {
    top: 1.5rem;
    bottom: 1.25rem;
  }
}

:where(h2),
:where(.h2) {
  font-size: clamp(1.5rem, 1rem + 1.67vw, 2rem);
  line-height: clamp(2rem, 1.25rem + 2.5vw, 2.75rem);
  margin: {
    top: 1.25rem;
    bottom: 1.25rem;
  }
}

:where(h3),
:where(.h3) {
  font-size: clamp(1.15rem, 0.8rem + 1.17vw, 1.5rem);
  line-height: clamp(1.75rem, 1.5rem + 0.83vw, 2rem);
  margin: {
    top: 1.25rem;
    bottom: 1.25rem;
  }
}

:where(h4),
:where(.h4),
:where(p),
:where(li),
:where(dl),
:where(dt),
:where(dd) {
  font-size: clamp(0.9rem, 0.8rem + 0.33vw, 1rem);
  line-height: clamp(1.25rem, 1rem + 0.83vw, 1.5rem);
}

:where(h4),
:where(.h4),
:where(p) {
  margin: {
    top: 1rem;
    bottom: 1rem;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
strong {
  font-weight: 600;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
p {
  &:first-child {
    margin-top: 0;
  }
}
