:where(ul),
:where(ol) {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.--disc,
ul.--dash {
  padding-left: 1rem;
  margin-left: 0.75rem;

  &.--dash > li,
  &.--disc > li {
    &::marker {
      display: none;
    }

    &::before {
      content: '-';
      transform: translateX(-1rem);
      position: absolute;
    }
  }

  &.--dash > li::before {
    content: '-';
  }

  &.--disc > li::before {
    content: '•';
  }
}
